@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html {
    font-family: "Kanit", sans-serif;
}

h1 {
    color: midnightblue;
    display: inline;
}

h3 {
    color: navy;
}

img {
    width: 60px;
    height: auto;
}

#weeks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#weeks a {
    padding: 1rem;
    width: 7rem;
}